{% extends 'connectx/base.html' %}

{% block navbar_content %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'signup:admin' pk=user.pk %}">Admin <i class="fas fa-home"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'signup:portfolio' pk=user.pk %}">Portfolio <i class="fas fa-sign-in-alt"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><i class="fas fa-user"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><i class="fas fa-cog"></i></a>
  </li>
{% endblock %}

{% block content %}
  <div class="container">
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    <ul class="list-unstyled">
      <li>
        <h4>{{ user.first_name }} {{ user.last_name }}</h4>
        <p>{{ user.email }}</p>
        <!-- <p><a href="{{ user.link }}">{{ user.link_category }}</a></p> -->
        <!-- <img src="{{ user.qr_code.url }}" alt="QR Code"> -->
      </li>
    </ul>
  </div>
{% endblock %}
