{% extends 'connectx/base.html' %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center">
    <div class="col-lg-6">
      <h1 class="text-center">Sign up</h1>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="first_name">First name:</label>
          <input type="text" name="first_name" class="form-control">
        </div>
        <div class="form-group">
          <label for="last_name">Last name:</label>
          <input type="text" name="last_name" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" name="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" name="password" class="form-control">
        </div>
        <div class="form-group">
          <label for="confirm_password">Confirm Password:</label>
          <input type="password" name="confirm_password" class="form-control">
        </div>
        <div class="text-center">
          <input type="submit" value="Sign up" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
{% endblock %}
